# Node.js Abhängigkeiten
node_modules/
npm-debug.log*

# Build-Verzeichnisse
dist/
# Umgebungsvariablen
.env
# Betriebssystem-spezifische Dateien
.DS_Store
# Editor-spezifische Dateien
.vscode/
# Temporäre Dateien
tmp/