<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather forecast - summaryPage</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/weather-forecast.css">
</head>

<body>
<div class="card forecast-card shadow-sm rounded">
  <div class="card-header">Weekly Weather Forecast</div>
  <div class="card-body p-1">
    <div class="days-row"> 
    </div>
  </div>
</div>
<script src="../assets/js/weather-forecast.js"></script>
</body>

</html>